# File temporanei Python e Jupyter
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Dati pesanti, modelli e dataset
*.fasta
*.fasta.gz
*.fastq
*.fq
*.fq.gz
*.bam
*.sam
*.paf
*.gfa
*.paths
*.h5
*.pt
*.pkl
*.model

# Cartelle specifiche da non caricare
backups/
temporaneo/
slurm/**/logs/
slurm/**/runs/
validazione/**/runs/
validazione/**/ground_truth/

# Ignora log degli step intermedi di calcolo
*.out
*.err
results/**/*.out
results/**/*.err
